@import url('../../index.css');
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black-50);
    backdrop-filter: blur(10px);
    z-index: 100 !important;
}