@import url('../../index.css');
.inputContainer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) / 2);
    cursor: text;
}
.inputField-main-container {
    width: 100%;
    height: 60px;
    background: var(--white-10);
    border-radius: var(--radius);
    border: solid 2px var(--white-10);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.inputField-main-container.error {
    border-color: var(--warning);
}
.inputContainer-wrapper:hover > .inputField-main-container {
    background: var(--white-20);
}
.inputField-main-container:focus-within {
    border-color: var(--white);
}
.inputField-main-container.textarea {
    min-height: 60px;
    height: fit-content;
}

.inputField-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.inputField-text {
    position: absolute;
    left: 0;
    pointer-events: none;
    color: var(--white-60);
    transform-origin: left top;
    z-index: 1;
}
.inputField-text.required::after {
    content: "*";
    position: absolute;
    top: -5px;
    right: -10px;
}

.inputField {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    outline: none;
    color: var(--white);
    font-weight: 600;
    position: relative;
    z-index: 0;
    padding: 15px 0 0 0;
    appearance: none;
}
.inputField.textarea {
    resize: vertical;
    min-height: 100px;
}
.inputField[type="number"]::-webkit-outer-spin-button,
.inputField[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.inputField[type="number"] {
    -moz-appearance: textfield;
}
.inputField[type="text"] {
    text-transform: capitalize;
}
.inputField[type="email"] {
    text-transform: lowercase;
}
.inputField.day, .inputField.month {
    width: 30px;
}
.inputField.year {
    width: 50px;
}

.inputField-feedback {
    width: fit-content;
    height: 24px;
    flex-shrink: 0;
    margin-left: 8px;
}

.error-message {
    padding-left: 10px;
}

.container-feedback {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: var(--gap);
    align-items: center;
    justify-content: center;
}

.inputSplit-container {
    display: flex;
    width: 100%;
    gap: 4px;
    justify-content: start;
    align-items: center;
}
.inputSplit-container span {
    padding: 15px 0 0 0;
}