@import url("../../index.css");
.main-dialog-container {
    width: 400px;
    max-width: 95vw;
    border-radius: 20px;
    padding: 10px;
    padding-top: 20px;
    background: var(--black);
    border: solid 2px var(--white-10);
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.dialog-text-container {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
}

.dialog-buttons-container {
    display: flex;
    gap: var(--gap);
    justify-content: flex-end;
}